.cell {

    background: lightskyblue;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: lightsalmon;
    border: none;
    color:grey;
    text-align: center;
    font-size: 22px;
    padding: 15px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 1%;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }